backend/vosk-model/
models/
Vision Chef/
ml/
frontend/home/desktop.ini
/venv
/Front
/backend/uploads
/backend/results
/pyrightconfig.json
.vscode/
/backend/recipes.db
/backend/data
/backend/__pycache__
/amitesh
image test.jpg
results.zip
/backend/test_out.txt
/backend/test_out.json
/backend/test.py

